<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="gatewayRefundQuerySoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="gatewayRefundQuerySoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.99bill.com/gatewayapi/services/gatewayRefundQuery"
                binding="basicHttpBinding" bindingConfiguration="gatewayRefundQuerySoapBinding"
                contract="Jh99BillsRefundQuery.GatewayRefundQuery" name="gatewayRefundQuery" />
        </client>
    </system.serviceModel>
</configuration>